{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="container breathingRoom">

    {% for restaurant in array %}
        <div class="col-lg-4 restaurantChunk">

                <a href="/restaurants/{{restaurant.id}}"><h3>{{ restaurant.name }}</h3>
                <img class="homeImg" src="{{ restaurant.img }}" alt="restaurant img"></a>
                <p>{{ restaurant.food_type }} Cuisine</p>
                <p class="inline">{{ restaurant.city }}, {{ restaurant.state }}</p>
                <div class="inline ratingStars" data-rating-value="{{ restaurant.rating }}">

                </div>

        </div>

    {%endfor%}

    </div>

{% endblock %}
