{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="container">
        <form class="form-horizontal" method="POST" action="/restaurants">
            <fieldset>
                <legend>Add Restaurant</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="name" maxlength="40" placeholder="Restaurant Name" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Location</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">State</label>
                        <div class="col-lg-2">
                            <select class="form-control statesDropDown" name="state">
                                <option disabled="">Select State</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Cuisine</label>
                        <div class="col-lg-2">
                            <select class="form-control foodTypeDropDown" name="food_type">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Image</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="img" placeholder="Image source url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Brief Description</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" name="description" maxlength="500"></textarea>
                            <span class="help-block">500 character max.</span>
                        </div>
                    </div>
                    <div class="form-group inline">
                        <div class="col-lg-4 col-lg-offset-2 inline">
                            <button type="submit" class="btn btn-primary submit">Submit</button>
                        </div>
                    </div>

            </fieldset>
        </form>
        <div class="form-group inline">
            <div class="col-lg-4 col-lg-offset-2 inline">
                <a href="../"><button class="btn btn-danger delete">Cancel</button></a>
            </div>
        </div>
    </div>


{% endblock %}