{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{restaurant.img}}" alt="restaurant display img"/>
            </div>
            <div class="col-lg-6">
                <h4>{{restaurant.food_type}} Cuisine</h4>
                <h4><em>Located in {{restaurant.city}}, {{restaurant.state}}</em></h4>
                <br><br>
                <p>{{restaurant.description}}</p>
                <p class="inline">Rating: </p>
                <div class="inline ratingStars" data-rating-value='{{rating_num}}'>
                </div>
                <br><br>
                {% if admin %}
                    <a href="./{{restaurant.id}}/edit"><button class="btn btn-md btn-success">Edit</button></a>
                    <form method="post" action="/restaurants/{{restaurant.id}}/delete">
                        <input type="submit" class="btn btn-md btn-danger" value="Delete"></input>
                    </form>
                {% endif %}
                {% if user %}
                    <a href="./{{restaurant.id}}/reviews/new"><button class="btn btn-md btn-info"> Review {{restaurant.name}}</button></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 employees">
                {% if admin %}
                    <a href="#"><button class="btn btn-sm btn-primary">Add Employee</button></a>
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr class="success">
                            <th id="roundMe">{{restaurant.name}} Employees</th>
                        </tr>
                        <tr class="success">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th id="halfRound">Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Harry</td>
                            <td>Potter</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td>Luna</td>
                            <td>Lovegood</td>
                            <td>Head Chef</td>
                        </tr>
                        <tr>
                            <td>Rubeus</td>
                            <td>Hagrid</td>
                            <td>Host</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                {% for rating in ratings %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{rating.first_name}}&#32;{{rating.last_name}}&#32;&#32;-&#32;&#32;{{rating.review_date}}
                        </div>
                        <div class="panel-body">
                            <p class="reviewText longText" style="display: none;">"{{rating.review}}"</p>
                            <p class="reviewText shortText">"{{rating.short_review}}<a class="showMoreTextLink">...</a>"</p>
                            <div class="inline ratingStars" data-rating-value={{rating.rating}}></div>
                            {% if rating.canEdit %}
                                <a href="/restaurants/{{restaurant.id}}/reviews/{{rating.id}}/edit">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>

{% endblock %}