body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.homeImg {
    height: 200px;
    width: 200px;
}

.inline {
    display: inline;
}

.control=label {
    display: block;
}

a {
  color: #00B7FF;
}

h1.center {
    text-align: center;
    width: 100%;
}