body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
    margin-bottom: 26px;
}

.navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.breathingRoom {
    padding-bottom: 50px;
}

.homeImg {
    height: 250px;
    width: 250px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: inline-block;
}

.right {
    margin-left: 98%;
}


.inline {
    display: inline;
}

.rating {
    margin-left: 20px;
}

.control=label {
    display: block;
}

a {
  color: #00B7FF;
}

h1.center {
    text-align: center;
    width: 100%;
}

.warningColor {
    color: #E637BF;
}

#roundMe {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#halfRound {
    border-top-right-radius: 4px;

}